src/main/resources/application-local.properties
target/
data/
logs/
.classpath
.factorypath
.project
.settings/
src/main/resources/static/
.idea
*.iws
*.iml
*.ipr
node_modules/
docs/superpowers
nul
# Maven release plugin
release.properties
pom.xml.releaseBackup
pom.xml.next
pom.xml.tag